
.main-wrapper {
    position: relative;
    background: #ffffff;
    margin: 0 auto;

    .header{
        position: relative;
        height: 665px;

        .introduce {
            position: absolute;
            width: 100%;
            padding: 0 60px;
            bottom: 90px;
            z-index: 1;

            .introduce-main{
                width: 505px;
                line-height: 50px;
                font-size: 38px;
                color: $primary-color;
            }

            .introduce-text{
                font-weight: 200;
                color: #62626f;
                margin-top: 30px;
                font-size: 20px;
                line-height: 27px;
                margin-bottom: 0;
                display: block;
                width: 460px;
            }
        }

        .header-image{
            position: absolute;
            background-size: cover;
            display: block;
            bottom: initial;
            right: 0;
            width: 747px;
            height: 520px;
            top: 95px;
            left: 505px;

            img{
                height: auto;
                width: 100%;
                max-width: initial;
            }
        }
    }


    .content{
        position: relative;

        .introduction{
            position: relative;
            padding: 95px 0 75px;
            display: flex;
            justify-content: center;

            &::before{
                left: -132px;
                top: 145px;
                width: 386px;
                height: 422px;
                background: url(/assets/imgs/who-we-are-background-image-left.svg) no-repeat;
                background-size: 100% 100%;
                display: block;
                content: "";
                position: absolute;
            }

            &::after{
                right: 10px;
                top: 160px;
                width: 660px;
                height: 461px;
                background: url(/assets/imgs/who-we-are-background-image-right.svg) no-repeat;
                background-size: 100% 100%;
                display: block;
                content: "";
                position: absolute;
            }

            .introduction-bg-img{
                position: relative;
                z-index: 3;
                max-width: initial;
                margin-left: initial;
                margin-right: 122px;
                width: 465px;
                height: 530px;
                background: url(/assets/imgs/about-team.jpg) no-repeat;
                background-position: 37% top;
                background-size: auto 100%;
            }

            .content-title{
                color: $primary-color;
                line-height: normal;
                position: relative;
                z-index: 3;
                padding: 0 20px 0px;
                text-align: left;
                padding-left: 0;
                padding-right: 0;
                width: 394px;

                .content-title-main {
                    font-weight: normal;
                    margin-block-start: 0px;
                    margin-block-end: 0px;
                    padding: 10px 0;
                    font-size: 44px;
                    margin-bottom: 0px;
                    padding-bottom: 45px;
                    line-height: 33px;
                    padding-top: 75px;
                }

                .content-title-text{
                    line-height: 24px;
                    font-size: 16px;
                    color:$primary-color;
                    width: 100%;
                    font-weight: 200;
                }
            }
        }
    }


    .why-we-do-it{
        position: relative;

        .introduction{
            position: relative;
            padding: 95px 0 75px;
            display: flex;
            justify-content: center;

            &::before{
                left: -132px;
                top: 145px;
                width: 386px;
                height: 422px;
                background: url(/assets/imgs/why-we-do-it-background-image-left.svg) no-repeat;
                background-size: 100% 100%;
                display: block;
                content: "";
                position: absolute;
            }

            &::after{
                right: 10px;
                top: 160px;
                width: 660px;
                height: 461px;
                background: url(/assets/imgs/why-we-do-it-background-image-right.svg) no-repeat;
                background-size: 100% 100%;
                display: block;
                content: "";
                position: absolute;
            }

            .introduction-bg-img{
                position: relative;
                z-index: 3;
                max-width: initial;
                margin-left: initial;
                margin-right: 122px;
                width: 465px;
                height: 530px;
                background: url(/assets/imgs/why-we-do-it.jpg) no-repeat;
                background-position: 37% top;
                background-size: auto 100%;
            }

            .content-title{
                color: $primary-color;
                line-height: normal;
                position: relative;
                z-index: 3;
                padding: 0 20px 0px;
                text-align: left;
                padding-left: 0;
                padding-right: 0;
                width: 394px;
                margin-right: 123px;
                order: -1;

                .content-title-main {
                    font-weight: normal;
                    margin-block-start: 0px;
                    margin-block-end: 0px;
                    padding: 10px 0;
                    font-size: 44px;
                    margin-bottom: 0px;
                    padding-bottom: 45px;
                    line-height: 33px;
                    padding-top: 75px;
                }

                .content-title-text{
                    line-height: 24px;
                    font-size: 16px;
                    color:$primary-color;
                    width: 100%;
                    font-weight: 200;
                }
            }
        }

    }

    .our-values-wrapper{
        position: relative;

        .our-values{
            position: relative;
            padding: 100px 0;

            &::before{
                left: -119px;
                top: 76px;
                width: 283px;
                height: 478px;
                background: url(/assets/imgs/who-we-are-background-image-left.svg) no-repeat;
                background-size: 100% 100%;
                display: block;
                content: "";
                position: absolute;
            }

            &::after{
                right: -156px;
                top: 91px;
                width: 451px;
                height: 589px;
                background: url(/assets/imgs/who-we-are-background-image-right.svg) no-repeat;
                background-size: 100% 100%;
                display: block;
                content: "";
                position: absolute;
            }

            .content-title{
                color: $primary-color;
                line-height: normal;
                position: relative;
                padding: 0 20px;
                text-align: center;

                .content-title-main {
                    font-weight: normal;
                    margin-block-start: 0px;
                    margin-block-end: 0px;
                    padding: 10px 0;
                    font-size: 44px;
                    margin-left: auto;
                    margin-right: auto;
                    line-height: 55px;
                    color:#191414;
                }

                .content-title-text{
                    font-size: 22px;
                    line-height: 133.76%;
                    color:#191414;
                    width: 100%;
                    font-weight: 200;
                    margin-top: 30px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }

            .our-values__list{
                position: relative;
                z-index: 3;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 0 91px;

                .info-with-image-item{
                    text-align: left;
                    color: $primary-color;

                    .info-with-image-item__icon {
                        margin-top: 45px;
                        margin-bottom: 24px;
                        width: 80px;
                        height: 80px;
                    }

                    .info-with-image-item__title {
                        margin-bottom: 20px;
                        line-height: 19px;
                        font-size: 16px;
                        font-weight: normal;
                    }

                    .info-with-image-item__text {
                        margin: 0 auto;
                        width: 220px;
                        min-height: 93px;
                        font-size: 14px;
                        line-height: 145.92%;
                        font-weight: 200;
                    }
                }
            }

        }
    }
}