$primary-color:#1a1038;
$secondary-color:#6b38f5;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  @mixin media-md{
    @media screen and (max-width:600px){
      @content;
    }
  }

  @mixin media-md-l{
    @media screen and (max-width:899px){
      @content;
    }
  }
  
  @mixin media-lg{
    @media screen and (min-width:1024px){
      @content;
    }
  }
  
  @mixin media-xl{
    @media screen and (min-width:1600px){
      @content;
    }
  }

  @mixin for-smaller-phone-only {
    @media screen and (max-width: 400px) { @content; }
  }

  @mixin for-phone-only {
    @media screen and (max-width: 599px) { @content; }
  }
  @mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }