@include media-md{
    
    .nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 20;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: height 200ms ease-in-out, padding 200ms ease-in-out;
        height: 80px;
        padding: 40px 20px;

        .navBar{
            display: none;
        }

        button.toggle-menu{
            display: inline-flex;
        }

        .menu-button{
            display: none;
        }
    }
    
     
    
    .main-wrapper{
        width: 100%;

        .hero-header{ 
            height: 586px;
            
            .intro {
                padding: 0 20px;
                width: 100%;
                .intro-main{
                    font-size: 28px;
                }
                .intro-text{
                    font-size: 15px;
                    width: 100%;
                }

            }
    
            .hero-bg{
                display: none;
            }
        }

        .feature01{
            .content{
                padding-top: 70px;
                .content-text{
                    padding: 0 0 30px;
                    width: 100%;
                    text-align: center;
                    order:0;

                    .content-text-title {
                        line-height: 35px;
                        font-size: 28px;
                    }
                    .content-text-p {
                        line-height: 24px;
                        font-size: 16px;
                        width: 100%;
                    }
                    .content-key{
                        display: none;
                    }
                }

                .content-video{
                    margin-top:0px;
                    left: 0px;
                }
            }
        }

        .feature02{
            .content{
                padding: 0 20px;
                .content-text{
                    padding: 0 0 30px;
                    width: 100%;
                    text-align: center;
                    order:0;
                    left: 0px;

                    .content-text-title {
                        line-height: 35px;
                        font-size: 28px;
                    }
                    .content-text-p {
                        line-height: 24px;
                        font-size: 16px;
                        width: 100%;
                    }
                    .content-key{
                        display: none;
                    }
                }

                .content-video{
                    margin-top:0px;
                    left: 0px;
                }
            }
        }

        .ofood-wrapper{

            .content{
                padding: 0 20px;
                min-height: 540px;
                flex-wrap: wrap;

                .content-text{
                    padding: 0 0 30px;
                    width: 100%;
                    text-align: center;

                    .content-text-title {
                        line-height: 35px;
                        font-size: 28px;
                    }
                    .content-text-p {
                        line-height: 24px;
                        font-size: 16px;
                        width: 100%;
                    }
                    
                }

                .ofood-image-wrapper{
                    position: relative;
                    margin: 30px auto 70px auto;
                    width: 100%;
                    max-width: 400px;     
                }
                
            }
        }

        .partner-wrapper{
            .content-text{
                padding: 65px 20px;

                .content-text-title {
                    line-height: 35px;
                    font-size: 28px;
                }
                .content-text-p {
                    line-height: 24px;
                    font-size: 16px;
                    width: 100%;
                }
            } 

            .partner-list{
                margin: -15px auto 0 auto;
                padding: 0 10% 50px 10%;
                width: 100%;
            }
        }

        .user-testimonials-wrapper{

            .content-text{
                padding: 65px 20px;
                padding-bottom: 0px;

                .content-text-title {
                    line-height: 35px;
                    font-size: 28px;
                }
                .content-text-p {
                    line-height: 24px;
                    font-size: 16px;
                    width: 100%;
                }
            } 

            .user-testimonial-list{
                padding: 0 20px;
                
                .user-testimonial-item{
                    flex-direction: column;
                    width: 100%;
                    align-items: center;
                    .avatar{
                        align-self:center;
                    }
                    .user-testimonial-item-comment{
                        text-align: center;
                    }
                }
            }
        }

        .security-wrapper{
            .content-text{
                padding: 65px 20px;
                padding-bottom: 0px;
                text-align: center;

                .content-text-title {
                    line-height: 35px;
                    font-size: 28px;
                }
                .content-text-p {
                    line-height: 24px;
                    font-size: 16px;
                    width: 100%;
                }
            } 

            .security-list {
                display: flex;
                flex-wrap: wrap;
                padding: 65px 20px 10px;
                .security-item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 55px;
                    width: 100%;
                    font-size: 16px;
                    margin-right: 0px;
                    .security-item-content{
                        text-align: center;
                    }
                }
            }
        }

        .payment-card-wrapper{

            .payment-card{
                padding: 0 20px 55px;
                margin-bottom: 524px;
                
                .form-divider{
                    width:100%;
                }
                
                .content-text{
                    padding: 65px 0 0 0;
                    text-align: center;
                    width: 100%;
    
                    .content-text-title {
                        line-height: 35px;
                        font-size: 28px;
                    }
                    .content-text-p {
                        line-height: 24px;
                        font-size: 16px;
                        width: 100%;
                    }
                } 

                .payment-card-hand {
                    position: absolute;
                    bottom: -528px;
                    left: 50%;
                    transition: transform 1000ms ease-in-out;
                    transform: translateX(-50%) translateY(0);
                    img{
                        width: 260px;
                    }
                }
            }
        }

        .become-agent-wrapper{
            .become-agent {
                position: relative;
                display: flex;
                flex-direction: column;
                height: 563px;
                .become-agent-title {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 0 20px;
                    text-align: center;

                    .become-agent-title__title {
                        font-size: 28px;
                    }
                    .become-agent-title__text{
                        width: 100%;
                        font-size: 16px;
                    }
                    .become-agent-title__buttons {
                        flex-direction: column;
                        width: 100%;
                        .button{
                            margin-bottom: 20px;
                            width: 156px;
                        }
                    }   
                }

                .become-agent__agent {
                    display: none;
                }
            }
        }

        .header {
            height: 568px;

            .introduce{
                padding: 0 20px;
                bottom: 30px;
                .introduce-main{
                    font-size: 28px;
                    line-height: 33px;
                    width: 100%;
                }
                .introduce-text{
                    font-size: 16px;
                    line-height: 21px;
                    margin-bottom: 0;
                    width:100%
                }
            }

            .header-image{
                display: block;
                width: 90%;
                height: 195px;
                top: 89px;
                left: 20px;
                background-size: cover;

                img{
                    width: 90%;
                    max-width: 420px;
                    height: auto;
                }
            }
        }

        .content{
            .introduction {
                padding: 95px 0 75px;
                display: inline-block;

                &::before, &::after{
                    display: none;
                }

                .introduction-bg-img{
                    position: relative;
                    margin: 0 auto;
                    height: 365px;
                    max-width: calc(365px * 648 / 530);  
                    width: 100%; 
                }

                .content-title{
                    width: 100%;
                    padding: 0 20px 0;
                    .content-title-main{
                        padding-top: 45px;
                        line-height: 33px;
                        font-size: 28px;
                    }

                    .content-title-text{
                        line-height: 24px;
                        font-size: 16px;
                    }
                }
            }
        }

        .why-we-do-it{
            .introduction {
                padding: 95px 0 75px;
                display: inline-block;

                &::before, &::after{
                    display: none;
                }

                .introduction-bg-img{
                    position: relative;
                    margin: 0 auto;
                    height: 365px;
                    max-width: calc(365px * 648 / 530);   
                    width: 100%;
                }

                .content-title{
                    width: 100%;
                    padding: 0 20px 0;
                    .content-title-main{
                        padding-top: 45px;
                        line-height: 33px;
                        font-size: 28px;
                    }

                    .content-title-text{
                        line-height: 24px;
                        font-size: 16px;
                    }
                }
            }
        }

        .our-values-wrapper{

            .our-values {
                position: relative;
                padding: 100px 0;

                &::before, &::after{
                    display: none;
                }

                .content-title{
                    width: 100%;
                    padding: 0 20px ;
                    .content-title-main{
                        line-height: 35px;
                        font-size: 28px;
                    }

                    .content-title-text{
                        margin-top: 30px;
                        font-size: 16px;
                        line-height: 21px
                    }
                }

                .our-values__list .info-with-image-item {
                    
                    text-align: center;

                    .info-with-image-item__icon {
                        margin-top: 45px;
                        margin-bottom: 24px;
                        width: 80px;
                        height: 80px;
                    }
                }
                
            }
        }

        .offices-wrapper{

            .offices {
                padding: 100px 20px;

                .content-title {
                    padding: 0 0 25px;

                    .content-title-main {
                        line-height: 38px;
                        font-size: 28px;
                    }
                }

                .offices-info-map{
                    display: none;
                }

                .office-info-list{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    .office {
                        text-align: center;

                        .office__flag-icon {
                            margin-top: 50px;
                            margin-bottom: 20px;
                            width: 30px;
                            height: 30px;
                        }

                        .city {
                            display: block;
                            line-height: 30px;
                            font-size: 16px;
                        }

                        .office__address {
                            margin-top: 15px;
                            line-height: 20px;
                            font-size: 14px;
                            font-weight: 200;
                        }
                    }
                }
            }
        }

        .vacancy-wrapper{
            

            .job-vacancies {
                flex-direction: column;
                height: 365px;
                padding: 70px 20px;

                &::before, &::after{
                    display: none;
                }

                .job-vacancies__text {
                    font-size: 20px;
                    text-align: center;
                }
            }
        }
        
    }

    

    .footer{

        padding: 65px 0 120px 30px;
        display: flex;
        flex-wrap: wrap;

        .content__left{
            width: 100%;
        }

        .content__right{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            margin-top: 55px;
            width: 100%;

            .column{
                margin-bottom: 37px;
                margin-right:0px;
                .footer__others {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: nowrap;
    
                    .pci-logo {
                        margin-top: 0px;
                        margin-right: 40px;
                        width:100%;
                        margin-left: 40px;
                        margin-bottom: initial;
                    }
    
                    .copyright-text {
                        left: 25px;
                        bottom: -15px;
                        width: 100%;
                        position: absolute;
                    }
                }
            }

            &:nth-child(odd) {
                margin-right: 40px;
            }


        }
    }
    
}

@include media-md-l{

    .nav {
        height: 120px;
        padding: 40px 60px;
    }


    .main-wrapper{
        width: 100%;

        
        .hero-header {
            height: 665px;
            .intro{
                padding: 0 60px;
                bottom: 105px;
                .intro-main {
                    width: 595px;
                    line-height: 50px;
                    font-size: 42px;
                }

                .intro-text{
                    font-size: 20px;
                    line-height: 27px;
                    display: block;
                    width: 410px;
                }
            }
            .hero-bg{
                display: block;
                right: 0px;
                left: 195px;
                bottom: 0;
                width: 575px;
                height: auto;
            }
        }

        .feature01{

            .content.first-child{
                padding-top: 100px;
            }

            .content{ 
                padding: 0px 60px;

                .content-text{
                    padding-bottom: 75px;
                    text-align: left;
                    width: 100%;
                    order: 0;

                    .content-text-p {
                        width: 485px;
                        line-height: 27px;
                        font-size: 20px;
                    }

                    .content-key{
                        display: none;
                    }
                }

                .content-video {
                    text-align: center;
                    margin-bottom: 0;
                    left:0px;

                    .video-wrapper{
                        .phone-frame{
                            position: initial;
                        }
                    }
                }
            }

        }

        .feature02{

            .content.first-child{
                padding-top: 100px;
            }

            .content{ 
                padding: 0px 60px;

                .content-text{
                    padding-bottom: 75px;
                    text-align: left;
                    padding: 0px 60px;

                    .content-text-p {
                        width: 485px;
                        line-height: 27px;
                        font-size: 20px;
                    }

                    .content-key{
                        display: none;
                    }
                }

                .content-video {
                    text-align: center;
                    margin-bottom: 0;
                    left:0px;

                    .video-wrapper{
                        .phone-frame{
                            position: initial;
                        }
                    }
                }
            }

        }

        .ofood-wrapper{
            .content{ 
                min-height: 816px;
                display: flex;
                flex-direction: column;
                

                .content-text {
                    text-align: left;
                    padding-bottom: 75px;

                    .content-text-p {
                        width: 485px;
                        line-height: 27px;
                        font-size: 20px;
                    }
                }

                .ofood-image-wrapper{
                    margin: 10px auto 120px auto;
                    max-width: 585px;
                }
                
            }
        }

        .partner-wrapper{
            .content-text {
                padding: 125px 34px 65px;
            }
        }

        .user-testimonials-wrapper{
            .content-text{
                padding-top: 155px;
            } 

            .user-testimonial-list {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 0 60px;

                .user-testimonial-item.one-more {
                    margin: 0 auto;
                }
            }
        }

        .security-wrapper{
            .content-text{
                padding: 155px 60px 0;
                text-align: left;
            }
            .security-list {
                padding: 65px 60px 125px;

                .security-item {
                    align-items: flex-start;
                    margin: 0 6% 0 0;
                    width: 40.12346%;
                }
            }
        }


        .payment-card-wrapper{
            .payment-card {
                padding: 0 60px 85px;
                margin-bottom: 665px;

                .content-text {
                    padding-top: 125px;
                    margin:0;
                    .content-text-p {
                        padding: 0;
                        width: 455px;
                        font-size: 20px;
                        line-height: 27px;
                    }
                }

                .payment-card-hand {
                    bottom: -665px;
                }
            }
        }

        .become-agent-wrapper{
            .become-agent {
                margin-top: 665px;
                flex-direction: column;

                .become-agent-title {

                    padding: 0 0 0 60px;
                    text-align: left;
                    flex: none;

                    .become-agent-title__title{
                        margin-bottom: 30px;
                        font-size: 44px;
                        width: 400px;
                    }
                    
                }

                .become-agent__agent {
                    display: block;
                    width: 100%;
                    img{
                        width: 100%;
                        right: 0px;
                    }
                }
            }
        }
    
        .header{

            .introduce{

                .introduce-main{
                    width: 378px;
                }

                .introduce-text {
                    font-size: 20px;
                    line-height: 27px;
                    margin-bottom: 0;
                    width: 334px;
                }
            }
                
            
            .header-image {
                width: 575px;
                height: 400px;
                top: 100px;
                bottom: initial;
                left: 190px;
            }
        }

        .content{

            .introduction{
                flex-direction: column;
                
                .introduction-bg-img{
                    width: 648px;
                    max-width: initial;
                    height: 530px;
                    background-position: left top;
                    background-size: 100% 100%;
                    margin: 0 auto;
                }

                .content-title{
                    padding-left: 65px;
                    padding-right: 43px;
                    width:100%;
                }

            }
        }

        .why-we-do-it{

            .introduction{
                flex-direction: column-reverse;
                
                .introduction-bg-img{
                    width: 648px;
                    max-width: initial;
                    height: 530px;
                    background-position: left top;
                    background-size: 100% 100%;
                    margin: 0 auto;
                }

                .content-title{
                    padding-left: 65px;
                    padding-right: 43px;
                    width:100%;
                }

            }
        }

        .offices-wrapper{

            .offices {
                padding-left: 0px;
                padding-right: 0px;
    
                .offices-info-map {
                    position: relative;
                    display: block;
                    margin: 0 auto;
                    width: 768px;
                }
    
                .office-info-list{
                    flex-direction: row;
                    flex-wrap: wrap;
                    margin-top: 80px;
                    margin-left: auto;
                    margin-right: auto;
                    width: 648px;
                }
            }
        }
    }


    .footer {
        padding: 75px 0 60px 60px;

        .content__right .column{

            .footer__others {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                flex-wrap: nowrap;

                .pci-logo {
                    margin-top: 0px;
                    margin-right: 40px;
                    width:100%;
                }

                .copyright-text {
                    left: 25px;
                    bottom: -15px;
                    width: 100%;
                }
            }
            
        }
    }
 
}

@include for-phone-only {
    .main-wrapper .header .introduce .introduce-main {
        font-size: 24px;
    }

    .main-wrapper .vacancy-wrapper .job-vacancies .job-vacancies__text {
        font-size: 21px;
        text-align: center;
    }
}

@include for-smaller-phone-only{
    .main-wrapper .header .introduce .introduce-main {
        font-size: 21px;
    }

    .main-wrapper .header .introduce .introduce-text {
        font-size: 14px;
    }

    .main-wrapper .our-values-wrapper .our-values .our-values__list {
        padding: 0 50px;
        width: 100%;
    }

    .main-wrapper .offices-wrapper .offices {
        padding: 100px 0px;
        width: 100%;
    }

    .main-wrapper .vacancy-wrapper .job-vacancies {
        padding: 70px 10px;
    }

    .main-wrapper .vacancy-wrapper .job-vacancies .job-vacancies__text {
        font-size: 20px;
        width: 100%;
    }
}

@include media-lg{

    .main-wrapper .hero-header .hero-bg {
        left:495px;
    }
}






