* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-wrapper {
  position: relative;
  background: #ffffff;
  margin: 0 auto;
}

.main-wrapper .hero-header {
  position: relative;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.main-wrapper .hero-header .intro {
  position: absolute;
  width: 100%;
  padding: 0 60px;
  bottom: 70px;
  z-index: 1;
}

.main-wrapper .hero-header .intro .intro-main {
  font-family: inherit;
  font-size: 2em;
  line-height: 33px;
  color: #1a1038;
}

.main-wrapper .hero-header .intro .intro-text {
  font-size: 16px;
  line-height: 21px;
  font-weight: 200;
  color: #62626f;
  margin-top: 30px;
  margin-bottom: 60px;
}

.main-wrapper .hero-header .intro .intro-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  background-color: transparent;
}

.main-wrapper .hero-header .intro .intro-button .button {
  border-radius: 40px;
  width: 155px;
  height: 55px;
  font-size: 14px;
  line-height: 55px;
  font-family: inherit;
  text-align: center;
  background-color: #6b38f5;
  color: #fff;
}

.main-wrapper .hero-header .intro .intro-button .button:hover {
  background-color: #642de4;
}

.main-wrapper .hero-header .hero-bg {
  position: absolute;
  left: 584px;
  width: 765px;
  right: 0px;
  margin-top: 168px;
  height: initial;
}

.main-wrapper .hero-header .hero-bg img {
  width: 100%;
  height: inherit;
}

.main-wrapper .feature01 {
  position: relative;
}

.main-wrapper .feature01 .content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0 60px;
  padding-top: 150px;
}

.main-wrapper .feature01 .content .content-text {
  padding: 65px 20px;
  line-height: normal;
  padding-bottom: 75px;
  text-align: left;
  color: #1a1038;
  position: relative;
  width: 550px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.main-wrapper .feature01 .content .content-text .content-text-title-sub {
  margin-bottom: 10px;
  line-height: 25px;
  color: #6b38f5;
  font-size: 14px;
  font-weight: normal;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
}

.main-wrapper .feature01 .content .content-text .content-text-title-sub::before {
  display: inline-block;
  margin-right: 0px;
  content: "-";
  color: #41d9af;
}

.main-wrapper .feature01 .content .content-text .content-text-title {
  line-height: 55px;
  font-size: 44px;
  margin-bottom: 30px;
  font-weight: normal;
  padding: 10px 0;
}

.main-wrapper .feature01 .content .content-text .content-text-p {
  line-height: 24px;
  font-size: 20px;
  color: #62626f;
  font-weight: 200;
  width: 390px;
}

.main-wrapper .feature01 .content .content-text .content-key {
  position: absolute;
  left: 0;
  width: inherit;
  z-index: 0;
  display: block;
  -webkit-transition: -webkit-transform 50ms linear;
  transition: -webkit-transform 50ms linear;
  transition: transform 50ms linear;
  transition: transform 50ms linear, -webkit-transform 50ms linear;
  will-change: transform;
}

.main-wrapper .feature01 .content .content-text .content-key span {
  display: block;
  width: 100%;
  line-height: 200px;
  font-size: 200px;
  font-weight: normal;
  opacity: 0.5;
  overflow: visible;
  white-space: nowrap;
  color: transparent;
  -webkit-text-stroke: 1px #bea8fd;
}

.main-wrapper .feature01 .content .content-video {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin-top: 60px;
  overflow: visible;
  z-index: 1;
  top: 0;
  left: -90px;
}

.main-wrapper .feature01 .content .content-video .phone-bg {
  position: relative;
  top: 0;
  left: -10px;
  width: calc(100% + 20px);
  height: auto;
}

.main-wrapper .feature01 .content .content-video .video-wrapper {
  position: absolute;
  top: 0;
  left: -10px;
  width: calc(100% + 20px);
  height: 100%;
}

.main-wrapper .feature01 .content .content-video .video-wrapper .phone-frame {
  position: absolute;
  width: 100%;
}

.main-wrapper .feature01 .content .content-video .video-wrapper .video-placeholder {
  position: absolute;
  top: 4.93%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 54%;
}

.main-wrapper .feature01 .content .content-video .video-wrapper video {
  position: absolute;
  top: 4.93%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 54%;
}

.main-wrapper .feature02 {
  position: relative;
}

.main-wrapper .feature02 .content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0 60px;
}

.main-wrapper .feature02 .content .content-text {
  padding: 65px 20px;
  line-height: normal;
  padding-bottom: 75px;
  padding-left: 50px;
  text-align: left;
  color: #1a1038;
  position: relative;
  width: 550px;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  left: -90px;
}

.main-wrapper .feature02 .content .content-text .content-text-title-sub {
  margin-bottom: 10px;
  line-height: 25px;
  color: #6b38f5;
  font-size: 14px;
  font-weight: normal;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
}

.main-wrapper .feature02 .content .content-text .content-text-title-sub::before {
  display: inline-block;
  margin-right: 0px;
  content: "-";
  color: #41d9af;
}

.main-wrapper .feature02 .content .content-text .content-text-title {
  line-height: 55px;
  font-size: 44px;
  margin-bottom: 30px;
  font-weight: normal;
  padding: 10px 0;
}

.main-wrapper .feature02 .content .content-text .content-text-p {
  line-height: 24px;
  font-size: 20px;
  color: #62626f;
  font-weight: 200;
  width: 390px;
}

.main-wrapper .feature02 .content .content-text .content-key {
  position: absolute;
  left: 0;
  width: inherit;
  z-index: 0;
  display: block;
  -webkit-transition: -webkit-transform 50ms linear;
  transition: -webkit-transform 50ms linear;
  transition: transform 50ms linear;
  transition: transform 50ms linear, -webkit-transform 50ms linear;
  will-change: transform;
}

.main-wrapper .feature02 .content .content-text .content-key span {
  display: block;
  width: 100%;
  line-height: 200px;
  font-size: 200px;
  font-weight: normal;
  opacity: 0.5;
  overflow: visible;
  white-space: nowrap;
  color: transparent;
  -webkit-text-stroke: 1px #bea8fd;
}

.main-wrapper .feature02 .content .content-video {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin-top: 60px;
  overflow: visible;
  z-index: 1;
  top: 0;
}

.main-wrapper .feature02 .content .content-video .phone-bg {
  position: relative;
  top: 0;
  left: -10px;
  width: calc(100% + 20px);
  height: auto;
}

.main-wrapper .feature02 .content .content-video .video-wrapper {
  position: absolute;
  top: 0;
  left: -10px;
  width: calc(100% + 20px);
  height: 100%;
}

.main-wrapper .feature02 .content .content-video .video-wrapper .phone-frame {
  position: absolute;
  width: 100%;
}

.main-wrapper .feature02 .content .content-video .video-wrapper .video-placeholder {
  position: absolute;
  top: 4.93%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 54%;
}

.main-wrapper .feature02 .content .content-video .video-wrapper video {
  position: absolute;
  top: 4.93%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 54%;
}

.main-wrapper .ofood-wrapper {
  position: relative;
}

.main-wrapper .ofood-wrapper .content {
  min-height: 685px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
}

.main-wrapper .ofood-wrapper .content .content-text {
  padding: 65px 20px;
  line-height: normal;
  padding-bottom: 75px;
  padding-left: 50px;
  text-align: left;
  color: #1a1038;
  position: relative;
  width: 550px;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.main-wrapper .ofood-wrapper .content .content-text .content-text-title-sub {
  margin-bottom: 10px;
  line-height: 25px;
  color: #6b38f5;
  font-size: 14px;
  font-weight: normal;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
}

.main-wrapper .ofood-wrapper .content .content-text .content-text-title-sub::before {
  display: inline-block;
  margin-right: 0px;
  content: "-";
  color: #41d9af;
}

.main-wrapper .ofood-wrapper .content .content-text .content-text-title {
  line-height: 55px;
  font-size: 44px;
  margin-bottom: 30px;
  font-weight: normal;
  padding: 10px 0;
}

.main-wrapper .ofood-wrapper .content .content-text .content-text-p {
  line-height: 24px;
  font-size: 20px;
  color: #62626f;
  font-weight: 200;
  width: 390px;
}

.main-wrapper .ofood-wrapper .ofood-image-wrapper {
  position: relative;
  margin: 0 0 155px 80px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.main-wrapper .ofood-wrapper .ofood-image-wrapper .ofood-bg {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 1;
  top: 0;
}

.main-wrapper .ofood-wrapper .ofood-image-wrapper .ofood-image {
  z-index: 0;
  width: 100%;
  height: auto;
}

.main-wrapper .partner-wrapper {
  position: relative;
}

.main-wrapper .partner-wrapper .content-text {
  padding-left: 226px;
  padding-right: 226px;
  padding-top: 65px;
  padding-bottom: 65px;
  line-height: normal;
  text-align: center;
  color: #1a1038;
  position: relative;
}

.main-wrapper .partner-wrapper .content-text .content-text-title-sub {
  margin-bottom: 10px;
  line-height: 25px;
  color: #6b38f5;
  font-size: 14px;
  font-weight: normal;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
}

.main-wrapper .partner-wrapper .content-text .content-text-title-sub::before {
  display: inline-block;
  margin-right: 0px;
  content: "-";
  color: #41d9af;
}

.main-wrapper .partner-wrapper .content-text .content-text-title {
  line-height: 55px;
  font-size: 44px;
  margin-bottom: 15px;
  font-weight: normal;
  padding: 10px 0;
}

.main-wrapper .partner-wrapper .content-text .content-text-p {
  color: #62626f;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  margin: 0 auto;
  width: 590px;
}

.main-wrapper .partner-wrapper .partner-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px auto 0 auto;
  width: 650px;
  padding-bottom: 140px;
}

.main-wrapper .partner-wrapper .partner-list .partner-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  background-color: #fff;
  overflow: hidden;
}

.main-wrapper .user-testimonials-wrapper {
  position: relative;
}

.main-wrapper .user-testimonials-wrapper .content-text {
  padding-left: 226px;
  padding-right: 226px;
  padding-top: 155px;
  padding-bottom: 0px;
  line-height: normal;
  text-align: center;
  color: #1a1038;
  position: relative;
}

.main-wrapper .user-testimonials-wrapper .content-text .content-text-title-sub {
  margin-bottom: 10px;
  line-height: 25px;
  color: #6b38f5;
  font-size: 14px;
  font-weight: normal;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
}

.main-wrapper .user-testimonials-wrapper .content-text .content-text-title-sub::before {
  display: inline-block;
  margin-right: 0px;
  content: "-";
  color: #41d9af;
}

.main-wrapper .user-testimonials-wrapper .content-text .content-text-title {
  line-height: 55px;
  font-size: 44px;
  font-weight: normal;
  padding: 10px 0;
}

.main-wrapper .user-testimonials-wrapper .user-testimonial-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 110px;
}

.main-wrapper .user-testimonials-wrapper .user-testimonial-list .user-testimonial-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 64px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 260px;
}

.main-wrapper .user-testimonials-wrapper .user-testimonial-list .user-testimonial-item .avatar {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  overflow: hidden;
  -webkit-box-shadow: 0px 10px 20px #e1daf3;
          box-shadow: 0px 10px 20px #e1daf3;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.main-wrapper .user-testimonials-wrapper .user-testimonial-list .user-testimonial-item .avatar img {
  width: 100%;
  height: auto;
}

.main-wrapper .user-testimonials-wrapper .user-testimonial-list .user-testimonial-item .user-info {
  margin-bottom: 20px;
  padding-top: 20px;
  font-size: 12px;
  margin-left: 15px;
  text-align: left;
}

.main-wrapper .user-testimonials-wrapper .user-testimonial-list .user-testimonial-item .user-info span:first-child {
  margin-bottom: 10px;
  line-height: 20px;
  color: #1a1038;
  text-transform: uppercase;
}

.main-wrapper .user-testimonials-wrapper .user-testimonial-list .user-testimonial-item .user-info .rating img {
  margin-right: 5px;
  width: 10px;
  height: 10px;
}

.main-wrapper .user-testimonials-wrapper .user-testimonial-list .user-testimonial-item .user-info span:last-child {
  padding-top: 5px;
  line-height: 15px;
  color: #b8b8bd;
}

.main-wrapper .user-testimonials-wrapper .user-testimonial-list .user-testimonial-item .user-testimonial-item-comment {
  height: 90px;
  line-height: 21px;
  font-size: 16px;
  color: #62626f;
  text-align: left;
  font-weight: 200;
}

.main-wrapper .user-testimonials-wrapper .user-testimonial-list .user-testimonial-item .user-testimonial-item-comment span:first-child, .main-wrapper .user-testimonials-wrapper .user-testimonial-list .user-testimonial-item .user-testimonial-item-comment span:last-child {
  font-weight: 900;
}

.main-wrapper .user-testimonials-wrapper .user-testimonial-list .user-testimonial-item .form-divider {
  width: 100%;
  background-image: url(/assets//imgs/form-divider.svg);
  background-repeat: repeat-x;
  margin: 40px 0;
  margin-top: 54px;
  margin-bottom: 0;
  height: 10.27px;
}

.main-wrapper .security-wrapper {
  position: relative;
}

.main-wrapper .security-wrapper .content-text {
  padding: 155px 110px 0;
  line-height: normal;
  text-align: left;
  color: #1a1038;
  position: relative;
}

.main-wrapper .security-wrapper .content-text .content-text-title-sub {
  margin-bottom: 10px;
  line-height: 18px;
  color: #6b38f5;
  font-size: 14px;
  font-weight: normal;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
}

.main-wrapper .security-wrapper .content-text .content-text-title-sub::before {
  display: inline-block;
  margin-right: 0px;
  content: "-";
  color: #41d9af;
}

.main-wrapper .security-wrapper .content-text .content-text-title {
  line-height: 60px;
  font-size: 44px;
  font-weight: normal;
  padding: 10px 0;
}

.main-wrapper .security-wrapper .security-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 65px 144px 154px 0;
}

.main-wrapper .security-wrapper .security-list .security-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 25%;
}

.main-wrapper .security-wrapper .security-list .security-item:not(:last-child) {
  margin-right: 8%;
}

.main-wrapper .security-wrapper .security-list .security-item .security-item-img {
  margin-bottom: 20px;
  width: 40px;
  height: 40px;
}

.main-wrapper .security-wrapper .security-list .security-item .security-item-img img {
  width: 40px;
  height: 40px;
}

.main-wrapper .security-wrapper .security-list .security-item .security-item-title {
  margin-bottom: 10px;
  line-height: 30px;
  text-align: left;
  color: #1a1038;
}

.main-wrapper .security-wrapper .security-list .security-item .security-item-content {
  line-height: 20px;
  font-weight: 200;
  text-align: left;
  color: #62626f;
}

.main-wrapper .payment-card-wrapper {
  position: relative;
}

.main-wrapper .payment-card-wrapper .payment-card {
  margin-bottom: 0;
  padding: 0 calc((100% - 1152px) / 2) 155px;
}

.main-wrapper .payment-card-wrapper .payment-card .form-divider {
  height: 12px;
  background-image: url(/assets/imgs/form-divider.svg);
  background-repeat: repeat-x;
  width: 554px;
  margin: 0 0 0 auto;
}

.main-wrapper .payment-card-wrapper .payment-card .content-text {
  padding: 65px 0 0 0;
  line-height: normal;
  text-align: left;
  color: #1a1038;
  position: relative;
  margin: 0 0 0 auto;
  padding-top: 105px;
  width: 554px;
}

.main-wrapper .payment-card-wrapper .payment-card .content-text .content-text-title-sub {
  margin-bottom: 10px;
  line-height: 25px;
  color: #6b38f5;
  font-size: 14px;
  font-weight: normal;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
}

.main-wrapper .payment-card-wrapper .payment-card .content-text .content-text-title-sub::before {
  display: inline-block;
  margin-right: 0px;
  content: "-";
  color: #41d9af;
}

.main-wrapper .payment-card-wrapper .payment-card .content-text .content-text-title {
  line-height: 70px !important;
  font-size: 44px;
  margin-bottom: 30px;
  font-weight: normal;
  padding: 10px 0;
}

.main-wrapper .payment-card-wrapper .payment-card .content-text .content-text-p {
  color: #62626f;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  padding: 0;
  width: 455px;
  margin-bottom: 30px;
}

.main-wrapper .payment-card-wrapper .payment-card .content-text .coming-soon {
  font-size: 12px;
  line-height: 25px;
  color: #1a1038;
}

.main-wrapper .payment-card-wrapper .payment-card .payment-card-hand {
  position: absolute;
  -webkit-transition: -webkit-transform 1000ms ease-in-out;
  transition: -webkit-transform 1000ms ease-in-out;
  transition: transform 1000ms ease-in-out;
  transition: transform 1000ms ease-in-out, -webkit-transform 1000ms ease-in-out;
  bottom: 0;
  left: 110px;
  -webkit-transform: translateX(0) translateY(0);
          transform: translateX(0) translateY(0);
}

.main-wrapper .payment-card-wrapper .payment-card .payment-card-hand img {
  height: auto;
  padding-top: 0;
  width: 330px;
}

.main-wrapper .become-agent-wrapper {
  position: relative;
}

.main-wrapper .become-agent-wrapper .become-agent {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 0;
}

.main-wrapper .become-agent-wrapper .become-agent .become-agent-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 0 110px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  height: 530px;
  text-align: left;
  color: #fff;
}

.main-wrapper .become-agent-wrapper .become-agent .become-agent-title .become-agent-title__title {
  line-height: 54px;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  font-weight: normal;
  margin-bottom: 30px;
  font-size: 44px;
}

.main-wrapper .become-agent-wrapper .become-agent .become-agent-title .become-agent-title__text {
  margin-bottom: 30px;
  line-height: 20px;
  font-size: 16px;
  font-weight: 200;
  width: 330px;
}

.main-wrapper .become-agent-wrapper .become-agent .become-agent-title .become-agent-title__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.main-wrapper .become-agent-wrapper .become-agent .become-agent-title .become-agent-title__buttons .button {
  margin: 0 20px 0 0;
  border-radius: 40px;
  width: 155px;
  height: 55px;
  font-size: 14px;
  line-height: 55px;
  font-family: inherit;
  text-align: center;
}

.main-wrapper .become-agent-wrapper .become-agent .become-agent-title .become-agent-title__buttons .button--default {
  background-color: #fff;
  color: #6b38f5;
}

.main-wrapper .become-agent-wrapper .become-agent .become-agent-title .become-agent-title__buttons .button--default:hover {
  background-color: #eeeffb;
  color: #6b38f5;
}

.main-wrapper .become-agent-wrapper .become-agent .become-agent-title .become-agent-title__buttons .text-default {
  font-size: 14px;
  line-height: 30px;
  color: #fff;
  padding: 0 10px;
}

.main-wrapper .become-agent-wrapper .become-agent .become-agent__agent {
  display: block;
  width: 49%;
  height: 530px;
  overflow: hidden;
}

.main-wrapper .become-agent-wrapper .become-agent .become-agent__agent img {
  width: auto;
  height: 530px;
  position: relative;
  right: 100px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: height 200ms ease-in-out, padding 200ms ease-in-out;
  transition: height 200ms ease-in-out, padding 200ms ease-in-out;
  height: 120px;
  padding: 40px 60px;
}

.nav .logo img {
  width: 85px;
  height: 40px;
}

.nav .navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
}

.nav .navBar .menu-item {
  overflow: hidden;
  font-size: 14px;
  border-radius: 40px;
  color: #1a1038;
  line-height: 40px;
  margin: 0 10px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .navBar .menu-item .caretIcon {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 0px 0px 6px;
}

.nav .navBar .menu-item .caretIcon i {
  font-size: 14px;
  color: #1a1038;
}

.nav .navBar .dropdown-menu {
  padding: 24px 50px 0px;
  max-width: unset;
  width: 860px;
  height: unset;
  visibility: visible;
  opacity: 1;
  position: absolute;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
  background: #fff;
  left: 0;
  right: 0;
  margin: auto;
  top: 85px;
}

.nav .navBar .dropdown-menu .dropdown-menu-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 225px;
}

.nav .navBar .dropdown-menu .dropdown-menu-grid .dropdown-menu-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 24px;
  width: 35%;
}

.nav .navBar .dropdown-menu .dropdown-menu-grid .dropdown-menu-service .dropdown-menu-service-image {
  width: 40px;
  height: 40px;
}

.nav .navBar .dropdown-menu .dropdown-menu-grid .dropdown-menu-service .dropdown-menu-service-content {
  padding: 0px 8px;
  color: #1a1038;
  text-align: left;
  width: initial;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.nav .navBar .dropdown-menu .dropdown-menu-grid .dropdown-menu-service .dropdown-menu-service-content .dropdown-menu-service-content-title {
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
}

.nav .navBar .dropdown-menu .dropdown-menu-grid .dropdown-menu-service .dropdown-menu-service-content .dropdown-menu-service-content-text {
  font-size: 10px;
  font-weight: 200;
  color: #62626f;
  line-height: 14px;
  white-space: normal;
}

.nav .menu-button {
  margin: 0 15px;
  padding: 12px 24px;
  min-width: 122px;
  max-width: 175px;
  background-color: #6b38f5;
  text-align: center;
  border-radius: 40px;
  font-size: 14px;
}

.nav .menu-button a {
  color: #fff !important;
  font-family: inherit;
}

.nav .menu-button a:hover {
  background-color: #642de4;
}

.main-wrapper {
  position: relative;
  background: #ffffff;
  margin: 0 auto;
}

.main-wrapper .header {
  position: relative;
  height: 665px;
}

.main-wrapper .header .introduce {
  position: absolute;
  width: 100%;
  padding: 0 60px;
  bottom: 90px;
  z-index: 1;
}

.main-wrapper .header .introduce .introduce-main {
  width: 505px;
  line-height: 50px;
  font-size: 38px;
  color: #1a1038;
}

.main-wrapper .header .introduce .introduce-text {
  font-weight: 200;
  color: #62626f;
  margin-top: 30px;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 0;
  display: block;
  width: 460px;
}

.main-wrapper .header .header-image {
  position: absolute;
  background-size: cover;
  display: block;
  bottom: initial;
  right: 0;
  width: 747px;
  height: 520px;
  top: 95px;
  left: 505px;
}

.main-wrapper .header .header-image img {
  height: auto;
  width: 100%;
  max-width: initial;
}

.main-wrapper .content {
  position: relative;
}

.main-wrapper .content .introduction {
  position: relative;
  padding: 95px 0 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-wrapper .content .introduction::before {
  left: -132px;
  top: 145px;
  width: 386px;
  height: 422px;
  background: url(/assets/imgs/who-we-are-background-image-left.svg) no-repeat;
  background-size: 100% 100%;
  display: block;
  content: "";
  position: absolute;
}

.main-wrapper .content .introduction::after {
  right: 0px;
  top: 160px;
  width: 660px;
  height: 461px;
  background: url(/assets/imgs/who-we-are-background-image-right.svg) no-repeat;
  background-size: 100% 100%;
  display: block;
  content: "";
  position: absolute;
}

.main-wrapper .content .introduction .introduction-bg-img {
  position: relative;
  z-index: 3;
  max-width: initial;
  margin-left: initial;
  margin-right: 122px;
  width: 465px;
  height: 530px;
  background: url(/assets/imgs/about-team.jpg) no-repeat;
  background-position: 37% top;
  background-size: auto 100%;
}

.main-wrapper .content .introduction .content-title {
  color: #1a1038;
  line-height: normal;
  position: relative;
  z-index: 3;
  padding: 0 20px 0px;
  text-align: left;
  padding-left: 0;
  padding-right: 0;
  width: 394px;
}

.main-wrapper .content .introduction .content-title .content-title-main {
  font-weight: normal;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  padding: 10px 0;
  font-size: 44px;
  margin-bottom: 0px;
  padding-bottom: 45px;
  line-height: 33px;
  padding-top: 75px;
}

.main-wrapper .content .introduction .content-title .content-title-text {
  line-height: 24px;
  font-size: 16px;
  color: #1a1038;
  width: 100%;
  font-weight: 200;
}

.main-wrapper .why-we-do-it {
  position: relative;
}

.main-wrapper .why-we-do-it .introduction {
  position: relative;
  padding: 95px 0 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-wrapper .why-we-do-it .introduction::before {
  left: -132px;
  top: 145px;
  width: 386px;
  height: 422px;
  background: url(/assets/imgs/why-we-do-it-background-image-left.svg) no-repeat;
  background-size: 100% 100%;
  display: block;
  content: "";
  position: absolute;
}

.main-wrapper .why-we-do-it .introduction::after {
  right: 0px;
  top: 160px;
  width: 660px;
  height: 461px;
  background: url(/assets/imgs/why-we-do-it-background-image-right.svg) no-repeat;
  background-size: 100% 100%;
  display: block;
  content: "";
  position: absolute;
}

.main-wrapper .why-we-do-it .introduction .introduction-bg-img {
  position: relative;
  z-index: 3;
  max-width: initial;
  margin-left: initial;
  margin-right: 122px;
  width: 465px;
  height: 530px;
  background: url(/assets/imgs/why-we-do-it.jpg) no-repeat;
  background-position: 37% top;
  background-size: auto 100%;
}

.main-wrapper .why-we-do-it .introduction .content-title {
  color: #1a1038;
  line-height: normal;
  position: relative;
  z-index: 3;
  padding: 0 20px 0px;
  text-align: left;
  padding-left: 0;
  padding-right: 0;
  width: 394px;
  margin-right: 123px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.main-wrapper .why-we-do-it .introduction .content-title .content-title-main {
  font-weight: normal;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  padding: 10px 0;
  font-size: 44px;
  margin-bottom: 0px;
  padding-bottom: 45px;
  line-height: 33px;
  padding-top: 75px;
}

.main-wrapper .why-we-do-it .introduction .content-title .content-title-text {
  line-height: 24px;
  font-size: 16px;
  color: #1a1038;
  width: 100%;
  font-weight: 200;
}

.main-wrapper .our-values-wrapper {
  position: relative;
}

.main-wrapper .our-values-wrapper .our-values {
  position: relative;
  padding: 100px 0;
}

.main-wrapper .our-values-wrapper .our-values::before {
  left: -119px;
  top: 76px;
  width: 283px;
  height: 478px;
  background: url(/assets/imgs/who-we-are-background-image-left.svg) no-repeat;
  background-size: 100% 100%;
  display: block;
  content: "";
  position: absolute;
}

.main-wrapper .our-values-wrapper .our-values::after {
  right: 0px;
  top: 91px;
  width: 451px;
  height: 589px;
  background: url(/assets/imgs/who-we-are-background-image-right.svg) no-repeat;
  background-size: 100% 100%;
  display: block;
  content: "";
  position: absolute;
}

.main-wrapper .our-values-wrapper .our-values .content-title {
  color: #1a1038;
  line-height: normal;
  position: relative;
  padding: 0 20px;
  text-align: center;
}

.main-wrapper .our-values-wrapper .our-values .content-title .content-title-main {
  font-weight: normal;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  padding: 10px 0;
  font-size: 44px;
  margin-left: auto;
  margin-right: auto;
  line-height: 55px;
  color: #191414;
}

.main-wrapper .our-values-wrapper .our-values .content-title .content-title-text {
  font-size: 22px;
  line-height: 133.76%;
  color: #191414;
  width: 100%;
  font-weight: 200;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.main-wrapper .our-values-wrapper .our-values .our-values__list {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 91px;
}

.main-wrapper .our-values-wrapper .our-values .our-values__list .info-with-image-item {
  text-align: left;
  color: #1a1038;
}

.main-wrapper .our-values-wrapper .our-values .our-values__list .info-with-image-item .info-with-image-item__icon {
  margin-top: 45px;
  margin-bottom: 24px;
  width: 80px;
  height: 80px;
}

.main-wrapper .our-values-wrapper .our-values .our-values__list .info-with-image-item .info-with-image-item__title {
  margin-bottom: 20px;
  line-height: 19px;
  font-size: 16px;
  font-weight: normal;
}

.main-wrapper .our-values-wrapper .our-values .our-values__list .info-with-image-item .info-with-image-item__text {
  margin: 0 auto;
  width: 220px;
  min-height: 93px;
  font-size: 14px;
  line-height: 145.92%;
  font-weight: 200;
}

.main-wrapper .offices-wrapper {
  position: relative;
}

.main-wrapper .offices-wrapper .offices {
  padding: 100px 20px;
  padding-left: 0px;
  padding-right: 0px;
}

.main-wrapper .offices-wrapper .offices .content-title {
  color: #1a1038;
  line-height: normal;
  position: relative;
  padding: 0 60px 80px;
  text-align: center;
}

.main-wrapper .offices-wrapper .offices .content-title .content-title-main {
  font-weight: normal;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  padding: 0;
  font-size: 44px;
  margin-left: auto;
  margin-right: auto;
  line-height: 52px;
}

.main-wrapper .offices-wrapper .offices .offices-info-map {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 1125.48px;
}

.main-wrapper .offices-wrapper .offices .offices-info-map .globe {
  width: 100%;
  height: auto;
}

.main-wrapper .offices-wrapper .offices .offices-info-map .offices-info-map__location {
  position: absolute;
  width: 48px;
  height: auto;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 300ms 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 300ms 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 300ms 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 300ms 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 300ms 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.main-wrapper .offices-wrapper .offices .offices-info-map .offices-info-map__location .lagos {
  top: 321px;
  right: 557.48px;
}

.main-wrapper .offices-wrapper .offices .offices-info-map .offices-info-map__location .beijing {
  top: 207px;
  right: 205.48px;
}

.main-wrapper .offices-wrapper .offices .offices-info-map .offices-info-map__location .gothenburg {
  top: 119px;
  right: 524.48px;
}

.main-wrapper .offices-wrapper .offices .office-info-list {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 1065px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-wrapper .offices-wrapper .offices .office-info-list .office {
  color: #1a1038;
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
}

.main-wrapper .offices-wrapper .offices .office-info-list .office .office__flag-icon {
  margin: 0 15px 0 0;
  vertical-align: middle;
  width: 30px;
  height: 30px;
}

.main-wrapper .offices-wrapper .offices .office-info-list .office .office__city {
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  font-size: 16px;
}

.main-wrapper .offices-wrapper .offices .office-info-list .office .office__address {
  margin-top: 15px;
  line-height: 20px;
  font-size: 14px;
  font-weight: 200;
  margin-left: 45px;
  width: 251px;
}

.main-wrapper .vacancy-wrapper {
  position: relative;
}

.main-wrapper .vacancy-wrapper .job-vacancies {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  padding: 50px 60px 50px 122px;
  background: #6b38f5;
}

.main-wrapper .vacancy-wrapper .job-vacancies::before {
  left: 46px;
  top: 21px;
  width: 105px;
  height: 105px;
  background: url(/assets/imgs/job-background-image-left.svg) no-repeat;
  background-size: 100% 100%;
  display: block;
  content: "";
  position: absolute;
}

.main-wrapper .vacancy-wrapper .job-vacancies::after {
  right: 0px;
  top: 30px;
  width: 450px;
  height: 200px;
  background: url(/assets/imgs/job-background-image-right-large.svg) no-repeat;
  background-size: 100% 100%;
  display: block;
  content: "";
  position: absolute;
}

.main-wrapper .vacancy-wrapper .job-vacancies .job-vacancies__text {
  position: relative;
  z-index: 3;
  padding: 15px 0;
  font-size: 24px;
  width: 414px;
  line-height: 150%;
  color: #fff;
  font-weight: 200;
  text-align: left;
}

.main-wrapper .vacancy-wrapper .job-vacancies .button {
  border: none;
  border-radius: 40px;
  height: 55px;
  font-size: 14px;
  line-height: 55px;
  font-family: "Basis Grotesque Pro", "Arial", sans-serif;
  text-align: center;
  cursor: pointer;
  position: relative;
  z-index: 3;
  width: 175px;
}

.main-wrapper .vacancy-wrapper .job-vacancies .button--default {
  background-color: #fff;
  color: #6b38f5;
}

.footer {
  position: relative;
  padding: 75px 60px 67px 60px;
  background: #fff;
  color: #1a1038;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .content__left, .footer .content__right {
  width: 100%;
  display: inline-block;
  line-height: normal;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer .content__left {
  width: 33%;
  display: inline-block;
  line-height: normal;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer .content__left .logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.footer .content__left .logo-box .logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 40px;
  width: auto;
  margin-right: 18px;
}

.footer .content__left .logo-box .tagline {
  width: 185px;
  font-size: 16px;
  line-height: normal;
  font-weight: 200;
}

.footer .content__left .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 20px;
}

.footer .content__left .button-container :first-child {
  margin-bottom: 20px;
}

.footer .content__left .button-container .google-play-button, .footer .content__left .button-container .apple-store-button {
  border: none;
  border-radius: 40px;
  width: 155px;
  height: 55px;
  font-size: 14px;
  line-height: 55px;
  font-family: "Basis Grotesque Pro", "Arial", sans-serif;
  text-align: center;
  background-color: #fff;
  color: #6b38f5;
  cursor: pointer;
}

.footer .content__left .button-container .google-play-button {
  position: relative;
  text-transform: none;
  color: #fff;
  background-color: #000;
  width: 165px;
  padding-right: 28px;
  display: inline-block;
  text-align: right;
}

.footer .content__left .button-container .google-play-button img {
  position: absolute;
  height: 23px;
  width: auto;
  top: 16px;
  left: 20px;
}

.footer .content__left .button-container .apple-store-button {
  position: relative;
  text-transform: none;
  color: #fff;
  background-color: #000;
  padding-right: 20px;
}

.footer .content__left .button-container .apple-store-button.download-on-the-text {
  padding-left: 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 165px;
  height: 55px;
  font-size: 15px;
  line-height: 24px;
  text-align: left;
}

.footer .content__left .button-container .apple-store-button.download-on-the-text img {
  position: absolute;
  height: 23px;
  width: auto;
  top: 14.5px;
  left: 20px;
}

.footer .content__left .button-container .apple-store-button.download-on-the-text span {
  display: block;
  font-size: 10px;
  line-height: 10px;
  position: relative;
  top: 3px;
}

.footer .content__right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 0;
  width: 66%;
  padding-left: 0;
}

.footer .content__right .column {
  margin-bottom: 37px;
  margin-right: 40px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer .content__right .column .column__title {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 165%;
  color: #1a1038;
}

.footer .content__right .column .footer__links {
  list-style: none;
  margin-bottom: 1rem;
}

.footer .content__right .column .footer__links li {
  margin-bottom: 10px;
  width: 110px;
  font-size: 12px;
  line-height: 20px;
}

.footer .content__right .column .footer__links li .footer__link {
  height: 100%;
  color: #62626f;
}

.footer .content__right .column .footer__others {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .content__right .column .footer__others .social-media-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .content__right .column .footer__others .social-media-wrapper .social-media-link {
  cursor: pointer;
  padding: 1px;
  margin-left: 10px;
}

.footer .content__right .column .footer__others .social-media-wrapper .social-media-link:first-child {
  margin-left: 0px;
}

.footer .content__right .column .footer__others .pci-logo {
  display: block;
  width: 80px;
  height: 30px;
  margin-right: 40px;
  margin-top: 37px;
  margin-bottom: 15px;
}

.footer .content__right .column .footer__others .copyright-text {
  position: absolute;
  left: 25px;
  bottom: -15px;
  font-size: 12px;
  line-height: 25px;
  color: #62626f;
  position: static;
}

body {
  height: 100vh;
  font-family: 'Fira Mono', monospace;
  color: #fff;
}

a {
  color: #1a1038;
  text-decoration: none;
  background-color: transparent;
}

.text-secondary {
  color: #6b38f5;
}

.d-none {
  display: none;
}

button {
  border: none;
  outline: none;
  color: #fff;
  font-family: 'Fira Mono', monospace;
  cursor: pointer;
}

.nav-colored {
  z-index: 9999;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 0px #eeeffb;
          box-shadow: 0px 1px 0px #eeeffb;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.nav-trasparent {
  background-color: transparent;
}
/*# sourceMappingURL=main.css.map */