* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: height 200ms ease-in-out, padding 200ms ease-in-out;
  transition: height 200ms ease-in-out, padding 200ms ease-in-out;
  height: 120px;
  padding: 40px 60px;
}

.nav .logo img {
  width: 85px;
  height: 40px;
}

.nav .navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
}

.nav .navBar .menu-item {
  overflow: hidden;
  font-size: 14px;
  border-radius: 40px;
  color: #1a1038;
  line-height: 40px;
  margin: 0 10px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .navBar .menu-item .caretIcon {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 0px 0px 6px;
}

.nav .navBar .menu-item .caretIcon i {
  font-size: 14px;
  color: #1a1038;
}

.nav .menu-button {
  margin: 0 15px;
  padding: 12px 24px;
  min-width: 122px;
  max-width: 175px;
  background-color: #6b38f5;
  text-align: center;
  border-radius: 40px;
  font-size: 14px;
}

.nav .menu-button a {
  color: #fff !important;
  font-family: inherit;
}

.nav .menu-button a :hover {
  background-color: #642de4;
}

.main-wrapper {
  position: relative;
  background: #ffffff;
  margin: 0 auto;
}

.main-wrapper .hero-header {
  position: relative;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.main-wrapper .hero-header .intro {
  position: absolute;
  width: 100%;
  padding: 0 60px;
  bottom: 70px;
  z-index: 1;
}

.main-wrapper .hero-header .intro .intro-main {
  font-family: inherit;
  font-size: 2em;
  line-height: 33px;
  color: #1a1038;
}

.main-wrapper .hero-header .intro .intro-text {
  font-size: 16px;
  line-height: 21px;
  font-weight: 200;
  color: #62626f;
  margin-top: 30px;
  margin-bottom: 60px;
}

.main-wrapper .hero-header .intro .intro-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  background-color: transparent;
}

.main-wrapper .hero-header .intro .intro-button .button {
  border-radius: 40px;
  width: 155px;
  height: 55px;
  font-size: 14px;
  line-height: 55px;
  font-family: inherit;
  text-align: center;
  background-color: #6b38f5;
  color: #fff;
}

.main-wrapper .hero-header .intro .intro-button .button :hover {
  background-color: #642de4;
}

.main-wrapper .hero-header .hero-bg {
  position: absolute;
  left: 584px;
  width: 765px;
  right: 0px;
  margin-top: 168px;
  height: initial;
}

.main-wrapper .hero-header .hero-bg img {
  width: 100%;
  height: inherit;
}

.main-wrapper .feature01 {
  position: relative;
}

.main-wrapper .feature01 .content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0 60px;
  padding-top: 150px;
}

.main-wrapper .feature01 .content .content-text {
  padding: 65px 20px;
  line-height: normal;
  padding-bottom: 75px;
  text-align: left;
  color: #1a1038;
  position: relative;
  width: 550px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.main-wrapper .feature01 .content .content-text .content-text-title-sub {
  margin-bottom: 10px;
  line-height: 25px;
  color: #6b38f5;
  font-size: 14px;
  font-weight: normal;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
}

.main-wrapper .feature01 .content .content-text .content-text-title-sub::before {
  display: inline-block;
  margin-right: 0px;
  content: "-";
  color: #41d9af;
}

.main-wrapper .feature01 .content .content-text .content-text-title {
  line-height: 55px;
  font-size: 44px;
  margin-bottom: 30px;
  font-weight: normal;
  padding: 10px 0;
}

.main-wrapper .feature01 .content .content-text .content-text-p {
  line-height: 24px;
  font-size: 20px;
  color: #62626f;
  font-weight: 200;
  width: 390px;
}

.main-wrapper .feature01 .content .content-text .content-key {
  position: absolute;
  left: 0;
  width: inherit;
  z-index: 0;
  display: block;
  -webkit-transition: -webkit-transform 50ms linear;
  transition: -webkit-transform 50ms linear;
  transition: transform 50ms linear;
  transition: transform 50ms linear, -webkit-transform 50ms linear;
  will-change: transform;
}

.main-wrapper .feature01 .content .content-text .content-key span {
  display: block;
  width: 100%;
  line-height: 200px;
  font-size: 200px;
  font-weight: normal;
  opacity: 0.5;
  overflow: visible;
  white-space: nowrap;
  color: transparent;
  -webkit-text-stroke: 1px #bea8fd;
}

.main-wrapper .feature01 .content .content-video {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin-top: 60px;
  overflow: visible;
  z-index: 1;
  top: 0;
  left: -90px;
}

.main-wrapper .feature01 .content .content-video .phone-bg {
  position: relative;
  top: 0;
  left: -10px;
  width: calc(100% + 20px);
  height: auto;
}

.main-wrapper .feature01 .content .content-video .video-wrapper {
  position: absolute;
  top: 0;
  left: -10px;
  width: calc(100% + 20px);
  height: 100%;
}

.main-wrapper .feature01 .content .content-video .video-wrapper .phone-frame {
  position: absolute;
  width: 100%;
}

.main-wrapper .feature01 .content .content-video .video-wrapper .video-placeholder {
  position: absolute;
  top: 4.93%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 54%;
}

.main-wrapper .feature01 .content .content-video .video-wrapper video {
  position: absolute;
  top: 4.93%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 54%;
}

.main-wrapper .feature02 {
  position: relative;
}

.main-wrapper .feature02 .content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0 60px;
}

.main-wrapper .feature02 .content .content-text {
  padding: 65px 20px;
  line-height: normal;
  padding-bottom: 75px;
  padding-left: 50px;
  text-align: left;
  color: #1a1038;
  position: relative;
  width: 550px;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  left: -90px;
}

.main-wrapper .feature02 .content .content-text .content-text-title-sub {
  margin-bottom: 10px;
  line-height: 25px;
  color: #6b38f5;
  font-size: 14px;
  font-weight: normal;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
}

.main-wrapper .feature02 .content .content-text .content-text-title-sub::before {
  display: inline-block;
  margin-right: 0px;
  content: "-";
  color: #41d9af;
}

.main-wrapper .feature02 .content .content-text .content-text-title {
  line-height: 55px;
  font-size: 44px;
  margin-bottom: 30px;
  font-weight: normal;
  padding: 10px 0;
}

.main-wrapper .feature02 .content .content-text .content-text-p {
  line-height: 24px;
  font-size: 20px;
  color: #62626f;
  font-weight: 200;
  width: 390px;
}

.main-wrapper .feature02 .content .content-text .content-key {
  position: absolute;
  left: 0;
  width: inherit;
  z-index: 0;
  display: block;
  -webkit-transition: -webkit-transform 50ms linear;
  transition: -webkit-transform 50ms linear;
  transition: transform 50ms linear;
  transition: transform 50ms linear, -webkit-transform 50ms linear;
  will-change: transform;
}

.main-wrapper .feature02 .content .content-text .content-key span {
  display: block;
  width: 100%;
  line-height: 200px;
  font-size: 200px;
  font-weight: normal;
  opacity: 0.5;
  overflow: visible;
  white-space: nowrap;
  color: transparent;
  -webkit-text-stroke: 1px #bea8fd;
}

.main-wrapper .feature02 .content .content-video {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin-top: 60px;
  overflow: visible;
  z-index: 1;
  top: 0;
}

.main-wrapper .feature02 .content .content-video .phone-bg {
  position: relative;
  top: 0;
  left: -10px;
  width: calc(100% + 20px);
  height: auto;
}

.main-wrapper .feature02 .content .content-video .video-wrapper {
  position: absolute;
  top: 0;
  left: -10px;
  width: calc(100% + 20px);
  height: 100%;
}

.main-wrapper .feature02 .content .content-video .video-wrapper .phone-frame {
  position: absolute;
  width: 100%;
}

.main-wrapper .feature02 .content .content-video .video-wrapper .video-placeholder {
  position: absolute;
  top: 4.93%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 54%;
}

.main-wrapper .feature02 .content .content-video .video-wrapper video {
  position: absolute;
  top: 4.93%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 54%;
}

body {
  height: 100vh;
  font-family: 'Fira Mono', monospace;
  color: #fff;
}

a {
  color: #1a1038;
  text-decoration: none;
  background-color: transparent;
}

.text-secondary {
  color: #6b38f5;
}

.d-none {
  display: none;
}

button {
  border: none;
  outline: none;
  color: #fff;
  font-family: 'Fira Mono', monospace;
  cursor: pointer;
}

.nav-colored {
  z-index: 99;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 0px #eeeffb;
          box-shadow: 0px 1px 0px #eeeffb;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.nav-trasparent {
  background-color: transparent;
}
/*# sourceMappingURL=main.css.map */